<div class="section-btns home">
    <a href="/admin/plays" class="section-btn section-btn-play firebrick">
        Obras
    </a>
    <a href="/admin/actors" class="section-btn section-btn-actor darkgreen">
        Actores/Actrices
    </a>
    <a href="/admin/blog" class="section-btn section-btn-user darkblue">
        Blog
    </a>
    <a href="/admin/users" class="section-btn section-btn-user darkmagenta">
        Administradores
    </a>
</div>
