<div class="form-container">
    <form action="/admin/login" method="post">
        <div class="form-group">
            <label for="username">
                Nombre de usuario
            </label>
            <input class="form-control" id="username" name="username" type="text" />
        </div>
        <div class="form-group">
            <label for="password">
                Contraseña
            </label>
            <input class="form-control" id="password" name="password" type="password" />
        </div>
        <div class="form-group">
            <input class="submit-btn" type="submit" value="Ingresar" />
            {{#if error}}
                <p class="form-error-msg">
                    Usuario o clave incorrectos.
                </p>
            {{/if}}
        </div>
    </form>
</div>
