<div class="form-container">
    <form action="/admin/actors/add" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="actor-name">
                Nombre completo
            </label>
            <input class="form-control" id="actor-name" name="actorName" type="text" />
        </div>
        <div class="form-group">
            <label class="photo-uploader-lbl" for="profile-photo-uploader" onchange="showPreviewActor(event)">
                Subir foto de perfil
                <input class="photo-uploader" id="profile-photo-uploader" name="profilePhoto" type="file" />
            </label>
            <div class="preview" style="height: 0; margin: 0; visibility: hidden;">
                <small id='delete-photo-msg' style="height: 0; margin: 0; visibility: hidden;">
                    Hacé clic en la foto para borrarla.
                </small>
                <ul id="photos-list">
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label for="actor-cv">
                Trayectoria profesional
            </label>
            <textarea class="form-control" id="actor-cv" name="actorCV" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="plays-selector">
                Obras
            </label>
            <select class="form-control" id="plays-selector" multiple name="actorPlays" size="10">
                {{#each content}}
                    <option value="{{this.PlayId}}">
                        {{this.PlayTitle}}
                    </option>
                {{/each}}
            </select>
            <small>
                *Ordenadas según el año de la última función.
            </small>
        </div>
        <div class="form-group">
            <input class="submit-btn" id="add-actor-btn" type="submit" value="Agregar" />
        </div>
        <input id="new-photos-array" name="newPhotosArray" style="height: 0; margin: 0; visibility: hidden" type="text">
    </form>
</div>
<script src="/public/javascripts/createPhotosArrays.js"></script>
<script src="/public/javascripts/photoPreviews.js"></script>
<script src="/public/javascripts/removePhoto.js"></script>
