<div class="form-container">
    <form action="/admin/blog/add" method="post">
        <div class="form-group">
            <label for="post-title">
                Título
            </label>
            <input class="form-control" id="post-title" name="postTitle" type="text" />
        </div>
        <div class="form-group">
            <label for="post-body">
                Cuerpo
            </label>
            <textarea class="form-control" id="post-body" name="postBody" rows="20"></textarea>
        </div>
        <div class="form-group">
            <input class="submit-btn" id="add-post-btn" type="submit" value="Agregar" />
        </div>
    </form>
</div>