<h3 class="delete-question">
    ¿Querés eliminar a <strong><span>{{content.UserUsername}}</span></strong>?
</h3>
<form action="/admin/users/user/{{content.UserId}}/delete" class="delete-form" method="post">
    <input class="delete-btn" type="submit" value="Eliminar" />
    <a class="cancel-btn" href="javascript:history.back()">
        Cancelar
    </a>
</form>
